
.wrapper {
	margin: 0 auto;
	width: 1000px;	


}

h1 {
	color: #000080;
	font-family: 'Belgrano', serif;
	font-size: 28px;

}

h2 {
	font-family: 'Flamenco', cursive;
	font-size: 24px;
}

#video2 {
	width: 350px;
	float: right;

}

#video3 {
	width: 300px;
	float: right;
}

.footer {
	margin-top: 10px;
	background-color: #000080; 
	color: #FFFAFA;
	width: 1000px;
}

@media only screen and (max-width: 720px) {


#video2 {
	float: none;
}

#video3 {
	float: none;
}

	}

@media only screen and (max-width: 480px){
	body {
		font-size: 12px;
	}
	.wrapper {
		width: 40%;
	}
}