
.wrapper {
	margin: 0 auto;
	width: 1000px;	

}

body {
	font-family: arial, sans-serif;
	font-size: 16px;
}

header {
	background-color: #000080; 
	
}

nav {
	overflow: hidden;
}

nav a {
	float: left;
	display: block;
	height: 1.8em;
	color: 	#FFFAFA;
	padding: 1em .6em 0 .6em;
	font-size: 1.25em; 
}


nav a:hover {
	text-decoration: none;
	background-color: black;
	color: 	#FF6347;
}

#button {
	/*width: 30px;*/
	float: right;
	overflow: hidden;
	
}



h1 {
	color: white;
	font-family: 'Belgrano', serif;
	font-size: 3em;
	padding: 20px;
	background: url("../images/library.jpeg");
	margin: 10px;
	margin-top: 10px;
}

h2 {
	font-family: 'Flamenco', cursive;
	font-size: 1.5em;
}

h3 {
	font-family: 'Flamenco', cursive;
	font-size: 1.2em;

}

#AboutMe {
	margin-top: 10px;
	/*width: 500px;*/
	width: 50%;
	height: 20px;
	float: left;
	padding-right: 20px;
}

span {
	font-style: italic;
}


#Links {
	margin-top: 30px;
	width: 40%;
	height: 20%;
	float: right;
	
}

.clear {
	clear: both;
}

#slideshow {
	width: 40%;
	height: 150px;
	padding: 20px;

}


.footer {
	background-color: #000080; 
	color: #FFFAFA;
	float: right;
	width: 1000px;
	margin-top: 75px;
	padding-top: 10px;
	font-size: 12px;
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (max-width: 800px) {

	body {
		font-size: 15px;
	}

	nav a {
		float: none;
	}
	
	#AboutMe {
		padding-left: 10px;

	}
}


@media only screen and (max-width: 720px) {
		body {
			font-size: 12px;
		}

		   nav a {
      	float: none;
      }

      #button {
      	float: left;
      }
     

		#AboutMe {
	margin-top: 5px;
	width: 40%;
	height: 10px;
	float: left;
	padding-right: 2px;
	padding-left: 10px;
		}

   

#Links {
	margin-top: 30px;
	width: 55%;
	height: 20%;
	float: right;
	text-align: left;	
}

#slideshow {
	width: 30%;
	height: 150px;
/*	padding: 20px;*/

}

.footer {
	font-size: .75em; 
	width: 1000px;

}
	
	}

@media only screen and (max-width: 480px)  {
	body {
		font-size: 10px;

	}

		#AboutMe {
	margin-top: 5px;
	width: 20%;
	height: 10px;
	float: left;
	padding-right: 2px;
	padding-left: 10px;
		}

   

	#Links {
	margin-top: 30px;
	width: 75%;
	float: right;	
}

	#slideshow {
	width: 30%;
	height: 150px;
	padding: 10px;

}

   footer {
   	font-size: .75em;
   }
}

